.launcher {
	-webkit-box-shadow: 1px 1px 5px 1px rgba(28,171,226,1);
	-moz-box-shadow: 1px 1px 5px 1px rgba(28,171,226,1);
	box-shadow: 1px 1px 5px 1px rgba(28,171,226,1);
  height: 8vh;
  width: 8vh;
}

.launcher:after {
	content: '';
	width: 8vh;
	height: 8vh;
	border: 4px solid #1CABE2;
	border-radius: 50%;
	position: absolute;
	animation: pulsate infinite 1.4s;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1.1, 1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

.conversation-container .close-button {
  display: flex;
  justify-content: center;
  align-items: center;

  display: inline-block;
  background-color: #1CABE2;
  border: 0;
  width: 40px;
  cursor: pointer;
}

.close-button:focus, .close-button:active, .close-button:hover {
  outline: none;
}

.close-button::-moz-focus-inner {
  border:0;
}

.conversation-container .close {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.messages-container {
  min-height: 75vh;
}

.conversation-container {
  max-height: 90vh;
}

.hide-sm {
   display: none;
}

.quickReplies-container {
  max-width: 100%;
}

.replies {
  align-items: stretch;
  padding: 0 0 0 0;
  overflow: auto;
  max-width: 100%;
  display:flex;
  flex-wrap:wrap;
}

.message.with-avatar {
  background-color: transparent;
}

.title.with-avatar {
  color: white;
}